<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
    <div><span>{{ data.message }} {{data.actor.nom}} {{data.actor.prenom}} : </span></div>
    <div *ngFor="let rep of data.actor.reponses">
        <p><b>{{rep.question?.libelle}}</b></p>
        <p>{{rep.valeur_reponse.libelle}}</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="accent" type="button" (click)="navigate(data.previousPage,data.diagnostic)">{{data.labels.btnPreviousStepLabel}}</button>
    <button mat-raised-button mat-dialog-close (click)="navigate('/acteur',data.diagnostic)" color="accent">Créer un autre site</button>
    <button mat-raised-button mat-dialog-close (click)="close()" color="accent">Corriger ce site</button>
</mat-dialog-actions>
