<div class="container">
    <div class="row">
      <div class="col-3"></div>
  
      <div class="col-6">
        <h2>{{ title }}</h2>
  
        @if (isLoading) {
          <div class="loading-spinner">
            <mat-spinner diameter="50" strokeWidth="5" color="accent"></mat-spinner>
          </div>
        }
  
        <form [formGroup]="formGroup" (submit)="recordActor($event)">
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.nameLabel }}</mat-label>
            <input matInput placeholder="Entrez un nom" formControlName="nom" required>
            @if (formGroup.get('nom')?.hasError('required')) {
              <mat-error>{{ labels.requiredName }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.firstNameLabel }}</mat-label>
            <input matInput placeholder="Entrez un prénom" formControlName="prenom" required>
            @if (formGroup.get('prenom')?.hasError('required')) {
              <mat-error>{{ labels.requiredFirstName }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.chooseCategories }}</mat-label>
            <mat-select formControlName="categories" multiple>
              @for (cat of uniqueCategories; track cat) {
                <mat-option [value]="cat">{{ cat.libelle }}</mat-option>
              }
            </mat-select>
            @if (formGroup.get('categories')?.hasError('required')) {
              <mat-error>{{ labels.requiredCategory }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.chooseProfile }}</mat-label>
            <mat-select formControlName="profil">
              @for (pfl of uniqueProfiles; track pfl) {
                <mat-option [value]="pfl">{{ pfl.libelle }}</mat-option>
              }
            </mat-select>
            @if (formGroup.get('profil')?.hasError('required')) {
              <mat-error>{{ labels.requiredProfile }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.status }}</mat-label>
            <input matInput placeholder="Entrez un statut" formControlName="fonction" required>
            @if (formGroup.get('fonction')?.hasError('required')) {
              <mat-error>{{ labels.requiredStatus }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.telephone }}</mat-label>
            <input matInput placeholder="Entrez un numéro de téléphone" formControlName="telephone">
            @if (formGroup.get('telephone')?.hasError('pattern')) {
              <mat-error>{{ labels.telephoneFormat }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.mail }}</mat-label>
            <input matInput placeholder="Entrez un mail" formControlName="mail">
            @if (formGroup.get('mail')?.hasError('pattern')) {
              <mat-error>{{ labels.invalidFormat }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.structure }}</mat-label>
            <input matInput placeholder="Entrez une structure" formControlName="structure" required>
            @if (formGroup.get('structure')?.hasError('required')) {
              <mat-error>{{ labels.requiredStructure }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <input type="text"
                   matInput
                   formControlName="commune"
                   [matAutocomplete]="auto"
                   placeholder="Nom de la commune" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              @for (town of filteredTowns; track town) {
                <mat-option [value]="town">{{ town.nom_com }}</mat-option>
              }
            </mat-autocomplete>
            @if (formGroup.get('commune')?.hasError('required')) {
              <mat-error>{{ labels.requiredTown }}</mat-error>
            }
          </mat-form-field>
  
          <button mat-raised-button color="accent" (click)="navigate(pageDiagnostic, diagnostic)">
            {{ labels.btnPreviousStepLabel }}
          </button>
          <button mat-raised-button id="btnNewSite" type="submit" color="warn">
            {{ labels.btnRecordLabel }}
          </button>
        </form>
      </div>
  
      <div class="col-3"></div>
    </div>
  </div>
  