#choix_site{
    margin-bottom:1%;
    margin-top:1%;
}
mat-form-field{
    font-size:16px;
}
::ng-deep .accent-select .mat-form-field-label {
    color: #ff4081 !important;
}
::ng-deep .accent-select .mat-select-arrow {
    color: #ff4081 !important;
}
::ng-deep .accent-select .mat-form-field-underline {
    background-color: #ff4081 !important;
}

