<div class="container">
    <div class="row" id="choix_site">
        <h2>{{title}}</h2>
        <div class="col-1"></div>
        <div  class="col-10">
            <h3>{{titleChosenSites}}</h3>
            <div *ngFor="let cs of chosenSites">
                <p>{{cs}}</p>
            </div>
            <div id="selectors" class="text-center">
                <mat-form-field appearance="fill">
                    <mat-label>{{regionLabel}}</mat-label>
                    <mat-select [(value)]="selectedRegion" (selectionChange)="applyFilters()">
                    <!--  <mat-option (click)="clearFilter(selectedRegion)" class="text-danger">
                            {{reinitialisation}}
                        </mat-option> -->
                        <mat-option *ngFor="let reg of uniqueRegions" [value]="reg">{{ reg }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="accent-select">
                    <mat-label>{{departmentLabel}}</mat-label>
                    <mat-select [(value)]="selectedDepartement" (selectionChange)="applyFilters()">
                    <!--  <mat-option (click)="clearFilter(selectedDepartement)" class="text-danger">
                            {{reinitialisation}}
                        </mat-option> -->
                        <mat-option *ngFor="let dep of uniqueDepartements" [value]="dep">{{ dep }}</mat-option>
                    </mat-select>
                </mat-form-field>
                
            
                <mat-form-field appearance="fill">
                    <mat-label>{{statusLabel}}</mat-label>
                    <mat-select [(value)]="selectedType" (selectionChange)="applyFilters()">
                        <!-- <mat-option (click)="clearFilter(selectedType)" class="text-danger">
                            {{reinitialisation}}
                        </mat-option> -->
                        <mat-option *ngFor="let type of uniqueTypes" [value]="type">{{ type }}</mat-option>
                        
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>{{housingLabel}}</mat-label>
                    <mat-select [(value)]="selectedHabitat" (selectionChange)="applyFilters()">
                    <!--  <mat-option (click)="clearFilter(selectedHabitat)" class="text-danger">
                            {{reinitialisation}}
                        </mat-option> -->
                        <mat-option *ngFor="let hab of uniqueHabitats" [value]="hab">{{ hab }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button id="btnToReinitialize" mat-raised-button (click)="resetFilters()">{{reinitialisation}}</button>
            </div>
            <app-map
                [sites]="sites"
            >
            </app-map>
            
            <table mat-table [dataSource]="sites" class="mat-elevation-z2" multiTemplateDataRows>

                <!-- Nom Site Column -->
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef>{{nameLabel}}</th>
                  <td mat-cell *matCellDef="let site"> <a (click)="navigate('/site/'+site.id_site)">{{ site.nom }}</a> </td>
                </ng-container>
                <ng-container matColumnDef="regions">
                    <th mat-header-cell *matHeaderCellDef>{{regionLabel}}</th>
                    <td mat-cell *matCellDef="let site">
                        <ng-container *ngFor="let dep of site.departements">
                            <div>
                            {{ dep.region.nom_reg }}
                            </div>
                        </ng-container>
                    </td>
                </ng-container>  
                
                <ng-container matColumnDef="departements">
                    <th mat-header-cell *matHeaderCellDef>{{departmentLabel}}</th>
                    <td mat-cell *matCellDef="let site">
                        <ng-container *ngFor="let dep of site.departements">
                            <div>{{ dep.nom_dep }}</div>
                        </ng-container>
                    </td>
                </ng-container>
                
                <!-- Type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef>{{statusLabel}}</th>
                  <td mat-cell *matCellDef="let site"> {{ site.type?.libelle }} </td>
                </ng-container>

                <ng-container matColumnDef="habitats">
                    <th mat-header-cell *matHeaderCellDef>{{housingLabel}}</th>
                    <td mat-cell *matCellDef="let site">
                        <ng-container *ngFor="let hab of site.habitats">
                            <div>
                            {{ hab.libelle }}
                            </div>
                        </ng-container>
                    </td>
                </ng-container>  
              
                <!-- Checkbox Column -->
                <ng-container matColumnDef="choix">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let site">
                    <mat-checkbox [(ngModel)]="site.selected" (click)="addOrRemoveSite(site)">{{btnToChooseLabel}}</mat-checkbox>
                  </td>
                </ng-container>
              
                <!-- Header and Row Declarations -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class="row">
                <div class="col-6">
                    <button mat-raised-button color="accent" (click)="toBrandNewSite()">{{btnNewSiteLabel}}</button>
                </div>
                <div class="col-6 text-end">
                    <button mat-raised-button id="btnNewSite"  color="accent" (click)="toActors()">{{btnToChooseActors}}</button>
                </div>
            </div>
            
        </div>
        <div class="col-1"></div>
    </div>
    
    
</div>
