<div class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-6">
            <h2>
                {{titleDiagnostic}}
            </h2>
            <form [formGroup] = "formGroup" (submit)="recordDiagnostic($event)">
                <mat-form-field appearance="fill" id="fieldName" >
                    <mat-label>{{nameLabel}}</mat-label>
                    <input matInput placeholder="Entrez un nom" formControlName="nom" required >
                    <mat-error *ngIf="formGroup.get('nom')?.hasError('required')">Le nom est requis.</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>{{ labels.chosenSites }}</mat-label>
                    <mat-select formControlName="sites" multiple (selectionChange)="getDiagnostics(formGroup.value.sites)">
                      <mat-option *ngFor="let site of uniqueSites" [value]="site">{{ site.nom }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <h4 >{{chosenSitesTitle}}</h4>
                <div *ngFor="let site of chosenSites">
                    <p>{{ site.nom }}, {{site.type.libelle}}</p>
                    
                </div>
                <button mat-raised-button color="accent" type="button" (click)="navigate('/site',diagnostic)">{{btnCreateSiteLabel}}</button>
                <h3>
                    {{actorsTitle}}
                </h3>
                <app-choix-acteurs
                    [actors]="actors"
                    [uniqueDiagnostics]="uniqueDiagnostics"
                    [diagnostic]="diagnostic"
                    [selectedDiagnostic]="selectedDiagnostic"
                    [uniqueCategories]="uniqueCategories"
                    [uniqueDepartments]="uniqueDepartments"
                    [selectedCategory]="selectedCategory"
                    [selectedDepartment]="selectedDepartment"
                    [actorsSelected]="actorsSelected"
                    [actorsOriginal]="uniqueActors"
                    [formGroup]="formGroup"
                >

                </app-choix-acteurs>
                <button mat-raised-button color="accent" (click)="navigate(previousPage,diagnostic)" >{{labels.btnPreviousStepLabel}}</button>
                <button mat-raised-button color="warn" type="submit" [disabled]="formGroup.invalid">{{btnRecordDiag}}</button>
        
            </form>
        </div>
        
        <div class="col-2">

        </div>
    </div>
</div>