<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
    <div><span>{{ data.message }}</span></div>
    <div><b>{{data.labels.nameLabel}}</b> : <span>{{ data.site.nom }}</span></div>
    <!-- <div><b>{{data.labels.housingLabel}}</b> : <span *ngFor="let hab of data.site.habitats">{{ hab.libelle }} </span></div> -->
    <div><b>{{data.labels.statusLabel}}</b> : <span>{{ data.site.type.libelle }}</span></div>
    <div><b>{{data.labels.departementLabel}}</b> : <span *ngFor="let dpt of data.site.departements">{{ dpt.nom_dep }} </span></div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="accent" type="button" (click)="navigate(data.previousPage,data.diagnostic)">{{data.labels.btnPreviousStepLabel}}</button>
    <button mat-raised-button mat-dialog-close (click)="navigate('/site',this.data.diagnostic)" color="accent">Créer un autre site</button>
    <button mat-raised-button mat-dialog-close (click)="navigate('/choix-site',this.data.diagnostic)" color="accent">Ajouter un site existant</button>
</mat-dialog-actions>
