li{
    list-style-type: none;
}

h2{
    margin-top:1%;
    margin-bottom:2%;
}

#diagnostics_liste{
    margin-bottom: 2%;
}

#creaBtn{
    width:50%;
}

#modBtn{
    margin:1%;
}

.container{
    margin-bottom: 1%;
}

tr > td {
    width:80%;
}

