<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <div>
    <b>{{ data.labels.category }}</b> :
    @for (cat of data.actor.categories; track cat) {
      <span>{{ cat.libelle }} </span>
    }
  </div>

  <div><b>{{ data.labels.town }}</b> : <span>{{ data.actor.commune.nom_com }}</span></div>
  <div><b>{{ data.labels.status }}</b> : <span>{{ data.actor.fonction }}</span></div>
  <div><b>{{ data.labels.profile }}</b> : <span>{{ data.actor.profil?.libelle }}</span></div>
  <div><b>{{ data.labels.telephone }}</b> : <span>{{ data.actor.telephone }}</span></div>
  <div><b>{{ data.labels.mail }}</b> : <span>{{ data.actor.mail }}</span></div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close (click)="close()" color="accent">
    {{ data.labels.close }}
  </button>
</mat-dialog-actions>
