<div class="center">
    <div class="lateral _2"></div>
    <div class="corpus">
      <div data-delay="6000" data-animation="slide" class="slider w-slider" data-autoplay="1" data-easing="ease-in"
        data-disable-swipe="1" data-autoplay-limit="45" data-duration="500" data-infinite="1">
        <div class="w-slider-mask">
          <div class="slide _1 w-slide">
            <div class="cr-dits-photo">
              <div>© David Pacaud</div>
            </div>
          </div>
          <div class="slide _2 w-slide">
            <div class="cr-dits-photo">
              <div>© RNN des Nouragues</div>
            </div>
          </div>
          <div class="slide _3 w-slide">
            <div class="cr-dits-photo">
              <div>© David Pacaud</div>
            </div>
          </div>
          <div class="slide _4 w-slide">
            <div class="cr-dits-photo">
              <div>© RNN du Massif forestier de Strasbourg-Neuhof</div>
            </div>
          </div>
          <div class="slide _5 w-slide">
            <div class="cr-dits-photo">
              <div>© David Pacaud</div>
            </div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
      <div class="inner-content-intro expert">
        <div class="div-block-17"></div>
        <div class="div-block-25">
          <div style="padding-top:56.17021276595745%" class="w-embed-youtubevideo"><iframe
              src="https://www.youtube.com/embed/z--FFy6wqMw?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=0&amp;start=0"
              frameborder="0" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
              allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
        </div>
        <div class="expert-block inner">
          <a data-w-id="603d9633-6b98-8a26-c13f-e87c62143423"
            class="expert-inner-text expert one intro w-inline-block">
            <button class="text-block-7 intro"
            routerLink="/ancrage"
              onclick="document.getElementById('id01').style.display='block'">Découvrir la méthodologie</button><img
              src="assets/images/arrow-black.png" loading="lazy"
              style="-webkit-transform:translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
              data-w-id="2ac91f7f-e533-d6f2-7e50-937391138cab" alt="">
          </a>
        </div>
      </div>
      <div class="inner-content-contact intro">
        <div class="div-block-17 contact">
          <div class="block-back">
            <div data-w-id="1fc5f64c-4f46-9b65-be33-35b19d576680" class="back-btn inner"><img src="assets/images/arrow.svg"
                loading="lazy" alt="" class="image-16">
              <div>Retour</div>
            </div>
          </div>
          <div class="contact-headline">
            <div class="contact-headline-text">CONTACTEZ-NOUS</div>
          </div>
        </div>
        <div class="contact-line"></div>
        <div class="block-contact-left">
          <div class="contact-katia-image"></div>
          <div class="contact-katia-titre">
            <div class="contact-katia-line"></div>
            <div class="contact-katia-titre-text">Katia Daudigeos</div>
            <div class="contact-katia-line"></div>
          </div>
          <div class="contact-katia-soustitre">
            <div class="contact-katia-soustitre-text">Chargée de programmes Territoires et Éducation à la Nature
              <br>Réserves Naturelles de France <br>katia.daudigeos-rnf@espaces-naturels.fr</div>
          </div>
          <div class="contact-katia-paragraphe">
            <div class="contact-katia-paragraphe-text">Vous pouvez me contacter avec le formulaire ci-contre pour
              toutes questions relatives à la Boîte à Outils Diagnostic d’Ancrage Territorial ou pour me remettre tout
              document relatif à votre Diagnostic d’Ancrage Territorial.<br>Je vous répondrai dans les meilleurs
              délais.<br>À bientôt !</div>
          </div>
        </div>
        <div class="w-form">
          <form action="https://formsubmit.co/katia.daudigeos-rnf@espaces-naturels.fr" method="POST" id="email-form"
            name="email" data-name="Email Form" class="form contact"><label for="name" class="contact-label">Votre
              nom* :</label><input type="text" class="contact-input w-input" maxlength="256" name="name"
              data-name="Name" placeholder="Prénom NOM" id="name" required=""><label for="email"
              class="contact-label">Votre e-mail* :</label><input type="email" class="contact-input w-input"
              maxlength="256" name="email" data-name="Email" placeholder="adresse e-mail" id="email"
              required=""><label for="sujet-3" class="contact-label">Sujet de votre message* :</label><input
              type="text" class="contact-input w-input" maxlength="256" name="sujet" data-name="sujet"
              placeholder="Sujet de votre message" id="sujet" required=""><label for="message"
              class="contact-label">Votre message* :</label><textarea placeholder="Votre message" maxlength="5000"
              id="Message" name="Message" data-name="Message" required=""
              class="contact-input message w-input"></textarea><input type="submit" value="ENVOYER"
              data-wait="Please wait..." class="contact-submit w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="inner-content-mention intro">
        <div class="div-block-17 contact">
          <div class="block-back">
            <div data-w-id="7a9818ac-7a79-d538-0591-8e0de2d910b1" class="back-btn inner"><img src="assets/images/arrow.svg"
                loading="lazy" alt="" class="image-16">
              <div>Retour</div>
            </div>
          </div>
          <div class="contact-headline">
            <div class="contact-headline-text">MENTIONS LÉGALES</div>
          </div>
        </div>
        <div class="contact-line"></div>
        <div class="block-mention-left">
          <p class="mention-text"><strong>Ce site est réalisé par :</strong><br><br>Réserves Naturelles de
            France<br>Siège Social : 2 Allée Pierre Lacroute – 21000 Dijon – France<br>Tél. : +33 (0)3 80 48 91
            00<br>N° Siret : 42843483100031 – APE 9499Z<br>Direction de la publication : Réserves Naturelles de
            France<br> <br>Ce site a pour objectif d’apporter l’ensemble des éléments juridiques et techniques pour la
            mise en place d’un Diagnostic d’Ancrage Territorial au sein des espaces naturels protégés.<br>
            <br><strong>Création du site</strong><br>‍<br>Maîtrise d’ouvrage : Réserves Naturelles de
            France<br><br>Conception et design du site :<br>Agence de conseil en pédagogie SYDO – 31 rue Burdeau –
            69001 LYON<br>Contact : https://sydo.fr/ <br>N° SIRET : 498 486 307 000 57<br>‍<br>Développement :
            <br>Agence de conseil en pédagogie SYDO – 31 rue Burdeau – 69001 LYON<br>Contact : https://sydo.fr/ <br>N°
            SIRET : 498 486 307 000 57<br>‍<br><strong>Serveur et Hébergement</strong><br>Ce site est hébergé par
            :<br>Société WEVOX, RCS Cherbourg en Cotentin B 502 733 256<br>3 rue de Franche Comté CS 50311 50103
            Cherbourg en Cotentin</p>
        </div>
        <div class="block-mention-right">
          <p class="mention-text"><strong>Conditions générales d&#x27;utilisation<br>‍</strong><br>Le site Réserves
            Naturelles de France, « ancrage.reserves-naturelles.org », ci-après dénommé “le Site” a pour objet de
            mettre à disposition la méthodologie et l’ensemble des outils nécessaire pour l’application d’un
            Diagnostic d’Ancrage Territorial. <br><br>L’utilisation du site Réserves Naturelles de France «
            ancrage.reserves-naturelles.org » implique l’acceptation pleine et entière des conditions générales
            d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou
            complétées à tout moment, les utilisateurs du Site sont donc invités à les consulter de manière
            régulière. <br><br>‍<strong>Dispositions légales - Propriété<br>‍</strong><br>Le fait d&#x27;accéder au
            site ne donne pas le droit de l&#x27;utiliser sans l&#x27;accord de RNF : tous les droits de reproduction
            sont réservés en vertu de l&#x27;article L.122-4 du code de la Propriété intellectuelle.<br>Toute
            utilisation des ressources (photographiques, iconographiques, textuelles ou relatives à la forme, la mise
            en page, la structure, les logotypes et les documents téléchargeables...) présentes sur ce site doit faire
            l&#x27;objet d&#x27;une autorisation express de RNF.À titre principal, RNF concède une autorisation de
            visualisation du contenu du site. <br><br>Néanmoins, Réserves Naturelles de France a choisi d’utiliser des
            licences ouvertes, permettant de faciliter la circulation des informations et leur réutilisation pour
            certains documents.<br>Leur contenu est sauf mention contraire sous licence Creative Commons :<br>CC BY
            NC-SA 4.0 (voir ci-dessus Droits de reproductions et crédits.)CC BY NC-ND 4.0 (voir ci-dessus Droits de
            reproductions et crédits.) <br>‍<br><strong>Droits de reproductions et crédits<br>‍<br>Présentation de la
              licence Creative Commons BY-NC-SA<br>‍<br>‍</strong><em>Selon cette licence vous êtes autorisés à
              :<br>    </em>Partager – copier, distribuer et communiquer le matériel par tous moyens et sous tous
            formats<br>    Adapter – remixer, transformer et créer à partir du matériel<br><br>L’Offrant ne peut
            retirer les autorisations concédées par la licence tant que vous appliquez les termes de cette
            licence.<br><br>Selon les conditions suivantes :<br><br>‍<strong>Attribution </strong>— Vous devez
            créditer l&#x27;Œuvre, intégrer un lien vers la licence et indiquer si des modifications ont été
            effectuées à l&#x27;Oeuvre. Vous devez indiquer ces informations par tous les moyens raisonnables, sans
            toutefois suggérer que l&#x27;Offrant vous soutient ou soutient la façon dont vous avez utilisé son
            Oeuvre.<br><br>‍<strong>Pas d’Utilisation Commerciale</strong> — Vous n&#x27;êtes pas autorisé à faire un
            usage commercial de cette Oeuvre, tout ou partie du matériel la composant.<br><br>‍<strong>Partage dans
              les Mêmes Conditions</strong> — Dans le cas où vous effectuez un remix, que vous transformez, ou créez à
            partir du matériel composant l&#x27;Oeuvre originale, vous devez diffuser l&#x27;Oeuvre modifiée dans les
            même conditions, c&#x27;est à dire avec la même licence avec laquelle l&#x27;Oeuvre originale a été
            diffusée.<br><br>‍<strong>Pas de restrictions complémentaires</strong> — Vous n&#x27;êtes pas autorisé à
            appliquer des conditions légales ou des mesures techniques qui restreindraient légalement autrui à
            utiliser l&#x27;Oeuvre dans les conditions décrites par la licence.<br>‍<strong><em>Présentation de la
                licence Creative Commons BY-NC-ND<br><br>‍</em></strong><em>Selon cette licence vous êtes autorisés à
              :<br><br>    </em>Partager – copier, distribuer et communiquer le matériel par tous moyens et sous tous
            formats<br><br>L’Offrant ne peut retirer les autorisations concédées par la licence tant que vous
            appliquez les termes de cette licence.<br><br>Selon les conditions suivantes :<br><br>‍<strong>Attribution
            </strong>— Vous devez créditer l&#x27;Œuvre, intégrer un lien vers la licence et indiquer si des
            modifications ont été effectuées à l&#x27;Oeuvre. Vous devez indiquer ces informations par tous les moyens
            raisonnables, sans toutefois suggérer que l&#x27;Offrant vous soutient ou soutient la façon dont vous avez
            utilisé son Oeuvre.<br><br>‍<strong>Pas d’Utilisation Commerciale</strong> — Vous n&#x27;êtes pas autorisé
            à faire un usage commercial de cette Oeuvre, tout ou partie du matériel la composant.<br><br>‍<strong>Pas
              de modifications</strong> – Dans le cas où vous effectuez un remix, que vous transformez, ou créez à
            partir du matériel composant l’œuvre originale, vous n’êtes pas autorisé à distribuer ou mettre à
            disposition l’œuvre modifiée.<br><br>‍<strong>Pas de restrictions complémentaires</strong> — Vous
            n&#x27;êtes pas autorisé à appliquer des conditions légales ou des mesures techniques qui restreindraient
            légalement autrui à utiliser l&#x27;Oeuvre dans les conditions décrites par la
            licence.<br><br>‍<strong>Liens<br>‍</strong><br>- Lien depuis des sites tiers vers ce site : RNF autorise
            la mise en place d&#x27;un lien hypertexte depuis n&#x27;importe quel site Internet (sous réserve
            d&#x27;une information préalable), à l&#x27;exclusion de ceux diffusant des informations à caractère
            polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure porter atteinte à la
            sensibilité du plus grand nombre. Le site doit apparaître dans une nouvelle fenêtre. Les pages du site ne
            doivent en aucun cas être intégrées à l&#x27;intérieur des pages d&#x27;un autre site (Frame ou iframe).
            Dans tous les cas, Réserves Naturelles de France se réserve le droit de demander la suppression d&#x27;un
            lien s’il estime que le référent (site source) ne respecte pas les règles ainsi définies. <br><br>- Lien
            depuis ce site vers des sites tiers : RNF se réserve le droit de &quot;pointer&quot; vers des sites tiers.
            Accéder à ces liens ne vous fait pas quitter le site de l&#x27;annuaire des carriers. Les sites cibles ne
            sont pas sous le contrôle de Réserves Naturelles de France, par conséquent celui-ci n&#x27;est pas
            responsable du contenu de ces sites, des liens qu&#x27;ils contiennent, ni des changements ou mises à jour
            qui leur sont apportés.<br>‍<br><strong>Traitement et protection des données<br>‍</strong><br>- Les
            données personnelles recueillies sur le site résultent de la communication volontaire lors de l&#x27;envoi
            d&#x27;un formulaire. L&#x27;ensemble des données publiées sur cet annuaire doivent avoir fait
            l&#x27;objet d&#x27;une autorisation de la part de la personne qu&#x27;elles concernent.<br>- Réserves
            Naturelles de France n&#x27;utilise pas de procédés de collecte automatisée de données (cookies, applet
            java ou active X).<br>- La loi &quot;Informatique et Libertés&quot; du 6 janvier 1978 modifiée par la loi
            du 6 août 2004 encadre la mise en œuvre des fichiers ou des traitements de données à caractère personnel
            qu&#x27;ils soient automatisés ou manuels.Vous disposez d&#x27;un droit d&#x27;accès, de modification, de
            rectification et de suppression des données qui vous concernent (art. 34 de la loi &quot;Informatique et
            Libertés&quot;).Vous pouvez l&#x27;exercer par courriel en le précisant lors de votre
            demande.<br>‍<br><strong>Gestion des données personnelles<br><br>‍</strong>L’Utilisateur  est informé des
            réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance dans
            l’Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la
            Protection des Données (<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">RGPD: n°
              2016-679</a>).<br><br>‍<strong>Responsable de la collecte des données personnelles<br><br>‍</strong>En
            tant que responsable du traitement des données qu’elle collecte, Réserves Naturelles de France, «
            ancrage.reserves-naturelles.org » s’engage à respecter le cadre des dispositions légales en vigueur. Il
            lui appartient d’établir les finalités des traitements de données, de fournir à ses utilisateurs, à partir
            de la collecte de leurs consentements, une information complète sur le traitement de leurs données
            personnelles et de maintenir un registre des traitements conforme à la réalité.<br><br>Chaque fois que
            Réserves Naturelles de France, « ancrage.reserves-naturelles.org » traite des Données Personnelles,
            Réserves Naturelles de France, « ancrage.reserves-naturelles.org » prend toutes les mesures raisonnables
            pour s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des finalités pour
            lesquelles Réserves Naturelles de France, « ancrage.reserves-naturelles.org » les
            traite.<br><br>‍<strong>Données collectées et leur finalité<br><br>‍</strong>Réserves Naturelles de
            France, « ancrage.reserves-naturelles.org » collecte et est susceptible de traiter tout ou partie des
            données :<br>    pour permettre la navigation sur le Site, pour améliorer l’expérience utilisateur et pour
            proposer des conseils contextualisés : données de connexion et d’utilisation.<br>    pour prévenir et
            lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour la
            navigation, l’adresse IP, le mot de passe (hashé)<br><br>Réserves Naturelles de France, «
            ancrage.reserves-naturelles.org » ne commercialise pas ni ne cède à un tiers vos données personnelles qui
            sont donc uniquement utilisées par nécessité ou à des fins statistiques et
            d’analyses.<br><br>‍<strong>Droit d’accès, de rectification et d’opposition<br><br>‍</strong>Conformément
            à la réglementation européenne en vigueur, les Utilisateurs de Réserves Naturelles de France, «
            ancrage.reserves-naturelles.org »disposent des droits suivants :<br><br>    droit d&#x27;accès (article 15
            RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs
            droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du
            RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte,
            l&#x27;utilisation, la communication ou la conservation est interdite<br>    droit de retirer à tout
            moment un consentement (article 13-2c RGPD)<br>    droit à la limitation du traitement des données des
            Utilisateurs (article 18 RGPD)<br>    droit d’opposition au traitement des données des Utilisateurs
            (article 21 RGPD)<br>    droit à la portabilité des données que les Utilisateurs auront fournies, lorsque
            ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat
            (article 20 RGPD)<br>    droit de définir le sort des données des Utilisateurs après leur mort et de
            choisir à quiRéserves Naturelles de France, « ancrage.reserves-naturelles.org »devra communiquer (ou non)
            ses données à un tiers qu’il aura préalablement désigné<br><br>‍<strong>Suppressions de Données
              personnelles<br><br>‍</strong>L’utilisateur peut à tout moment modifier ou supprimer son profil,
            détruisant ainsi les données personnelles y étant renseignées. Si l’Utilisateur n’arrive pas à effectuer
            la manipulation il peut demander au webmaster de faire l’opération pour lui en le contactant directement
            via le formulaire de contacts du site.<br><br>‍<strong>Non-communication des données
              personnelles<br><br>‍</strong>Aucune information personnelle de l&#x27;utilisateur du site Réserves
            Naturelles de France, « ancrage.reserves-naturelles.org »n&#x27;est publiée à l&#x27;insu de
            l&#x27;utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des
            tiers.<br><br>Réserves Naturelles de France, « ancrage.reserves-naturelles.org »ne communique jamais
            également les Informations collectées à des tiers.<br><br>Réserves Naturelles de France, «
            ancrage.reserves-naturelles.org » s’interdit de traiter, héberger ou transférer les Informations
            collectées sur ses Utilisateurs vers un pays situé en dehors de l’Union européenne ou reconnu comme «
            non-adéquat » par la Commission européenne. Pour autant, Réserves Naturelles de France, «
            ancrage.reserves-naturelles.org » reste libre du choix de ses sous-traitants techniques à la condition
            qu’ils présentent les garanties suffisantes au regard des exigences du Règlement Général sur la Protection
            des Données (RGPD: n° 2016-679).<br><br>‍<strong>Sécurité<br><br>‍</strong>Réserves Naturelles de France,
            « ancrage.reserves-naturelles.org »s’engage à prendre toutes les précautions nécessaires afin de préserver
            la sécurité des Informations. Par ailleurs, Réserves Naturelles de France ne collecte aucune «données
            sensibles».<br><br>Pour assurer la sécurité et la confidentialité des Données Personnelles, Réserves
            Naturelles de France, « ancrage.reserves-naturelles.org » utilise des réseaux protégés par des dispositifs
            standards tels que l’encryption et mot de passe hashé.<br>‍<br><strong>Limitations contractuelles sur les
              données techniques<br>‍</strong><br>Le site Réserves Naturelles de France «
            ancrage.reserves-naturelles.org » est hébergé chez un prestataire sur le territoire de l’Union Européenne
            conformément aux dispositions du Règlement Général sur la Protection des Données (RGPD: n°
            2016-679) <br><br>L’objectif est d’apporter une prestation qui assure le meilleur taux d’accessibilité.
            <br>L’hébergeur assure la continuité de son service 24 Heures sur 24, tous les jours de l’année. Il se
            réserve néanmoins la possibilité d’interrompre le service d’hébergement pour les durées les plus courtes
            possibles notamment à des fins de maintenance, d’amélioration de ses infrastructures, de défaillance de
            ses infrastructures ou si les Prestations et Services génèrent un trafic réputé anormal. <br><br>Réserves
            Naturelles de France « ancrage.reserves-naturelles.org » et l’hébergeur ne pourront être tenus
            responsables en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques ou du matériel
            informatique et de téléphonie liés notamment à l’encombrement du réseau empêchant l’accès au
            serveur. <br><br>‍<strong>Responsabilité<br>‍</strong><br>RNF s&#x27;efforce de maximiser
            l&#x27;exactitude des informations mais ne peut la garantir ni en établir l&#x27;exhaustivité. Le RNF
            décline donc toute responsabilité en cas d&#x27;erreur ou d&#x27;omission.<br>RNF se réserve le droit de
            modifier, tout ou partie des informations contenues dans les pages de ce site Internet, à tout moment et
            sans notification préalable.<br>Il appartient à l&#x27;utilisateur de ce site de prendre toutes les
            mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination par
            d&#x27;éventuels virus circulant sur le réseau Internet. De manière générale, RNF décline toute
            responsabilité à un éventuel dommage survenu pendant la consultation du présent
            site. <br><br>‍<strong>Lois de référence<br>‍</strong><br>Loi 78-17 du 6 janvier 1978 Loi relative à
            l&#x27;informatique, aux fichiers et aux libertésLoi du 29 juillet 1881 Loi sur la liberté de la
            presse<br></p>
        </div>
      </div>
    </div>
    <div class="lateral"></div>
  </div>