<div class="center">
    <div class="lateral _2"></div>
    <div class="corpus">
      <div data-delay="6000" data-animation="slide" class="slider w-slider" data-autoplay="1" data-easing="ease-in"
        data-disable-swipe="1" data-autoplay-limit="45" data-duration="500" data-infinite="1">
        <div class="w-slider-mask">
          <div class="slide _1 w-slide">
            <div class="cr-dits-photo">
              <div>© David Pacaud</div>
            </div>
          </div>
          <div class="slide _2 w-slide">
            <div class="cr-dits-photo">
              <div>© RNN des Nouragues</div>
            </div>
          </div>
          <div class="slide _3 w-slide">
            <div class="cr-dits-photo">
              <div>© David Pacaud</div>
            </div>
          </div>
          <div class="slide _4 w-slide">
            <div class="cr-dits-photo">
              <div>© RNN du Massif forestier de Strasbourg-Neuhof</div>
            </div>
          </div>
          <div class="slide _5 w-slide">
            <div class="cr-dits-photo">
              <div>© David Pacaud</div>
            </div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
      <div class="inner-content-intro expert">
        <div class="inner formation-block">

          <div class="formation-inner-text formation one intro w-inline-block">
            <div>
              <p class="formation-title">Du 14 au 16 novembre 2023</p>
              <p class="formation-date">Formation Diagnostic d'Ancrage Territorial</p>
              <p class="formation-contact"><a href="https://www.portail.reserves-naturelles.org/page/1537277-formations-rnf">Cliquez ici pour en savoir plus</a></p>
            </div>
          </div>

        </div>
        <div class="div-block-25">
          <div style="padding-top:56.17021276595745%" class="w-embed-youtubevideo"><iframe
              src="https://www.youtube.com/embed/z--FFy6wqMw?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=0&amp;start=0"
              frameborder="0" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
              allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
        </div>
        <div class="expert-block inner">


          <div style="padding-left:26%" class="plaquette-telecharger formation-inner-text formation one intro w-inline-block">
            <a href="assets/documents/Plaquette_Diagnostic_ancrage_territorial.pdf" target="_blank" class="item-telecharger w-inline-block"><img
                src="assets/images/picto-vert-2.png" loading="lazy" alt="" class="picto-telecharger">
            <div class="text-telecharger">Télécharger la plaquette sur le Diagnostic d'Ancrage Territorial</div>
            </a>



        </div>



          <!-- <div class="text-telecharger">Rapport universitaire - DAT - RNR la Massonne</div> -->

          <a data-w-id="603d9633-6b98-8a26-c13f-e87c62143423"
            class="expert-inner-text expert one intro w-inline-block">
            <button class="text-block-7 intro"
            routerLink="/methodologie"
              onclick="document.getElementById('id01').style.display='block'">Découvrir la méthodologie</button><img
              src="assets/images/arrow-black.png" loading="lazy"
              style="-webkit-transform:translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
              data-w-id="2ac91f7f-e533-d6f2-7e50-937391138cab" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="lateral"></div>
  </div>
  <div class="sponso_block">
    <div class="sponso rnf"><img src="../assets/images/sponso_1.png" loading="lazy" alt="" class="logo-sponso rnf"></div>
    <div class="sponso text">
        <p class="text">avec le partenariat technique de :</p>
    </div>
    <div class="sponso"><img src="../assets/images/sponso_2.png" loading="lazy" alt="" class="logo-sponso"></div>
    <div class="sponso text">
        <p class="text">avec le soutien de :</p>
    </div>
    <div class="sponso"><img src="../assets/images/sponso_3.png" loading="lazy" alt="" class="logo-sponso"></div>
    <div class="sponso"><img src="../assets/images/sponso_4.png" loading="lazy" alt="" class="logo-sponso"></div>
    <div class="sponso"><img src="../assets/images/sponso_5.png" loading="lazy" alt="" class="logo-sponso"></div>
    <div class="sponso"><img src="../assets/images/sponso_6.png" loading="lazy" alt="" class="logo-sponso"></div>
    <div class="sponso"><img src="../assets/images/sponso_7.png" loading="lazy" alt="" class="logo-sponso"></div>
    <div class="sponso"><img src="../assets/images/sponso_8.png" loading="lazy" alt="" class="logo-sponso"></div>
    <div class="sponso"><img src="../assets/images/sponso_9.png" loading="lazy" alt="" class="logo-sponso"></div>
    <div class="sponso"><img src="../assets/images/sponso_10.png" loading="lazy" alt="" class="logo-sponso"></div>
    <div class="sponso"><img src="../assets/images/sponso_11.png" loading="lazy" alt="" class="logo-sponso"></div>

</div>