.keyword-form-field {
    width: 100%;
    mat-chip {
      margin: 2px;
    }
}

.grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap; 
}
.column {
  flex: 1 1 45%; 
  min-width: 200px;
  background: #f9f9f9;
  padding: 8px;
  border-radius: 6px;
}
.dropzone {
  min-height: 100px;
  padding: 8px;
  border: 2px dashed #ccc;
  border-radius: 4px;
}