<mat-dialog-content>
    <mat-form-field appearance="fill" class="date">
        <mat-label>{{ data.labels.datePublicationReport }}</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="jj/mm/aaaa" [(ngModel)]="data.diagnostic.date_rapport_str">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-icon-button [matTooltip]="infobulleSaisieDateRapport" aria-label="Info création" color="warn">
        <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
    </button>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="accent" type="button" (click)="navigate(data.previousPage, data.diagnostic)">
      {{ data.labels.btnPreviousStepLabel }}
    </button>
    <button mat-raised-button mat-dialog-close (click)="close()" color="accent">
      Corriger la date
    </button>
    <button mat-raised-button mat-dialog-close (click)="recordDiagnostic()" color="warn">
        Enregistrer
    </button>
</mat-dialog-actions>
