mat-form-field{
    display:block !important;
    width:50%;
}

h2{
    margin-top:1%;
    margin-bottom:2%;
    font-size:30px;
    text-align: center;
    font-weight: bold;
}

#boutons{
    margin-bottom: 5%;
}