li{
    list-style-type: none;
}

#diagnostics_liste{
    margin-bottom: 2%;
    
}


#creaBtn{
    width:50%;
    padding:1%;
}
.directBtn{
    margin-right:1%;
}
#modBtn{
    margin:1%;
}

.container{
    margin-bottom: 1%;
}

tr > td {
    width:80%;
}

#main_list{
    font-size:18px;;
}

li{
    margin-top:1%;
}

.container{
    margin-top: 1%;
}