li{
    list-style-type: none;
}

#diagnostics_liste{
    margin-bottom: 2%;
    
}

h2{
margin-top:1%;
margin-bottom:2%;
font-size:30px;
}

mat-card-title{
    font-size: 18px;
}

mat-card_subtitle{
    font-size:12px;
}

mat-card-title,mat-card-subtitle{
color:#fff;
}

::ng-deep mat-card.white-shadow {
box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.6) !important;
}
#creaBtn{
    width:50%;
    padding:1%;
}
.directBtn{
    margin-right:1%;
}
#modBtn{
    margin:1%;
}

.container{
    margin-bottom: 1%;
}

tr > td {
    width:80%;
}

#main_list{
    font-size:18px;;
}

li{
    margin-top:1%;
}

.container{
    margin-top: 1%;
}