.upload-zone {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-bottom: 16px;
    transition: background-color 0.3s;
  }
  .upload-zone.dragover {
    background-color: #e3f2fd;
  }

  mat-form-field{
    display: block;
    width:50%;
  }