<div *ngFor="let question of chartDataByQuestion" class="mb-5">
  <div class="row align-items-center" style="min-height: 400px;">
    <h3 class="text-center">{{ question.question }}</h3>
    <!-- Colonne gauche (bar chart) -->
    <div class="col-6 d-flex align-items-center justify-content-center">
      <div class="w-100">
        
        <canvas
          baseChart
          [data]="question.chart"
          [options]="question.chartOptions"
          [type]="'bar'">
        </canvas>
      </div>
    </div>

    <!-- Colonne droite (pie chart) -->
    <div class="col-6">
      <h4 class="text-center">Répartition des réponses</h4>
      <canvas
        baseChart
        [data]="getChartData(question.question)"
        [type]="'pie'"
        [options]="chartOptions">
      </canvas>
    </div>
  </div>
</div>

  