<div class="center-contact">
    <div class="grid-2-5-5">
  
      <!-- Colonne gauche : bouton retour et texte vertical -->
      <div class="column border-right">
        <button class="bouton-retour" (click)="backClicked()">
          <img src="assets/images/arrow.svg" loading="lazy" alt="Retour"/>
          <div>Retour</div>
        </button>
        <div class="contact-texte">CONTACTEZ-NOUS</div>
      </div>
  
      <!-- Colonne centrale : texte d'information -->
      <div class="column">
        <div class="contact-katia-soustitre-text">
          Réserves Naturelles de France <br />
        </div>
        <div class="contact-katia-paragraphe-text">
          Vous pouvez nous contacter avec le formulaire ci-contre pour toute question relative à la Boîte à Outils Diagnostic d’Ancrage Territorial.
          <br />Nous vous répondrons dans les meilleurs délais.
          <br />À bientôt !
        </div>
      </div>
  
      <!-- Colonne droite : formulaire -->
      <div class="column">
        <form [formGroup]="formGroup" (submit)="recordMail($event)" class="col-center">
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.nameLabel }}</mat-label>
            <input matInput placeholder="Entrez votre nom" formControlName="nom" required />
            @if (formGroup.get('nom')?.hasError('required')) {
              <mat-error>{{ labels.requiredName }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.mail }}</mat-label>
            <input matInput placeholder="Entrez votre adresse email" formControlName="expediteur" required />
            @if (formGroup.get('mail')?.hasError('required')) {
              <mat-error>{{ labels.requiredFirstName }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.subject }}</mat-label>
            <input matInput placeholder="Entrez l'objet de votre message" formControlName="objet" required />
            @if (formGroup.get('objet')?.hasError('required')) {
              <mat-error>{{ labels.requiredSubject }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>{{ labels.message }}</mat-label>
            <textarea matInput placeholder="Écrivez votre message" formControlName="message" required></textarea>
            @if (formGroup.get('message')?.hasError('required')) {
              <mat-error>{{ labels.requiredMessage }}</mat-error>
            }
          </mat-form-field>
  
          <button mat-raised-button type="submit">{{ labels.send }}</button>
        </form>
      </div>
  
    </div>
  </div>
  