mat-form-field{
    display:block;
    margin:auto;
}

.grid-2-5-5 {
    display: grid;
    grid-template-columns: 20% 40% 40%; /* ou 3fr 6fr 3fr */
    gap: 1rem;
    max-width: 100%;
    overflow-x: hidden;
}

.contact-texte{
    font-family: century-gothic, sans-serif;
    color: #b9b9b9;
    font-size: 3vw;
    font-weight: 700;
    transform: rotate(270deg) translate(-900%);
    transform-origin: left top; 
    display: inline-block; 
    line-height: initial;
    white-space: nowrap;
    width: 20%;
    
}

.border-right{
    border-right: solid 5px;
    color: #b9b9b9;
}

.column{
    height:41.93vw;
    padding-left:5%;
    padding-right:5%;
  
}

.center-contact {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 1%;
}

.bouton-retour{
    justify-content: flex-start;
    font-family: century-gothic, sans-serif;
    color: #ea5a06;
    font-size: 1.04vw;
    line-height: 1.82vw;
    cursor: pointer;
    margin-bottom:5%;
    width:50%;
    background-color: white;
}

button div{
    display:inline;
}

#g-recaptcha-container {
    margin-top: 1rem;
    min-height: 78px; /* hauteur du widget */
}