<div>
  @if (!hideFilters) {
    <h4>{{ titleChooseActors }}</h4>
    @for (ca of chosenActors; track ca) {
      <p>{{ ca }}</p>
    }

    <mat-form-field appearance="fill">
      <mat-label>{{ labels.diagnosticsList }}</mat-label>
      <mat-select [(value)]="selectedDiagnostic" (selectionChange)="applyFilters()">
        @for (diag of uniqueDiagnostics; track diag) {
          <mat-option [value]="diag">{{ diag.nom }} du {{ diag.created_at_str }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ labels.department }}</mat-label>
      <mat-select [(value)]="selectedDepartment" (selectionChange)="applyFilters()">
        @for (dpt of uniqueDepartments; track dpt) {
          <mat-option [value]="dpt">{{ dpt.nom_dep }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="accent-select">
      <mat-label>{{ labels.category }}</mat-label>
      <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilters()">
        @for (cat of uniqueCategories; track cat) {
          <mat-option [value]="cat">{{ cat.libelle }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button id="btnToReinitialize" type="button" mat-raised-button (click)="resetFilters()">
      {{ reinitialisation }}
    </button>
  }

  <div [formGroup]="formGroup">
    @if (!hideFilters) {
      <mat-selection-list formControlName="acteurs">
        @for (actor of actors; track actor) {
          <mat-list-option [value]="actor" (click)="addOrRemoveActor(actor, true)">
            <div class="list-item-content">
              <div class="space">{{ actor.nom }} {{ actor.prenom }} {{ actor.structure }}</div>
              <button mat-raised-button type="button" class="otherInfosBtn" (click)="showOtherInfos(actor); $event.stopPropagation()">
                <fa-icon [icon]="['fas', 'info']"></fa-icon>
              </button>
              <span *ngIf="no_creation">
                <button mat-raised-button type="button" class="otherInfosBtn" (click)="navigate('/acteur/' + actor.id_acteur + '/' + actor.slug, diagnostic); $event.stopPropagation()">
                  <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                </button>
              </span>
            </div>
          </mat-list-option>
        }
      </mat-selection-list>
    } @else {
      <div class="actor-cards">
        @for (actor of actors; track actor) {
          <mat-card class="actor-card">
            <div class="card-content">
              <div class="actor-info">
                <div class="actor-name">
                  <mat-card-title>{{ actor.nom }} {{ actor.prenom }}</mat-card-title>
                </div>
                <div class="actor-structure">{{ actor.structure }}</div>

                <div class="actor-structure">
                  <ng-container [ngSwitch]="actor.statut_entretien?.libelle">
                    <span class="realized" *ngSwitchCase="'Réalisé'">
                      {{ actor.statut_entretien?.libelle }}
                      <fa-icon [icon]="['fas', 'check']"></fa-icon>
                    </span>
                    <ng-template [ngSwitchCase]="'Reporté'">
                      <span class="postponed">
                        {{ actor.statut_entretien?.libelle }}
                        <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                      </span>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'En cours'">
                      <span class="inprogress">
                        {{ actor.statut_entretien?.libelle }}
                        <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon>
                      </span>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'Annulé'">
                      <span class="canceled">
                        {{ actor.statut_entretien?.libelle }}
                        <fa-icon [icon]="['fas', 'circle-xmark']"></fa-icon>
                      </span>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'Programmé'">
                      <span class="planified">
                        {{ actor.statut_entretien?.libelle }}
                        <fa-icon [icon]="['fas', 'calendar-check']"></fa-icon>
                      </span>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'Rétracté'">
                      <span class="retracted">
                        {{ actor.statut_entretien?.libelle }}
                        <fa-icon [icon]="['fas', 'square-xmark']"></fa-icon>
                      </span>
                    </ng-template>
                    <span *ngSwitchDefault class="todo">
                      A faire
                      <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon>
                    </span>
                  </ng-container>
                </div>
              </div>

              <div class="actor-actions">
                <button mat-icon-button type="button" (click)="showOtherInfos(actor)" [matTooltip]="labels.showMoreInfo">
                  <fa-icon [icon]="['fas', 'info']"></fa-icon>
                </button>
                @if (!diagnostic.is_read_only) {
                  <button mat-icon-button type="button" (click)="navigate('/acteur/' + actor.id_acteur + '/' + actor.slug, diagnostic)" [matTooltip]="labels.modifyActor">
                    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                  </button>
                  <button mat-icon-button type="button" (click)="navigate('/entretien/' + actor.id_acteur + '/' + actor.slug, diagnostic,actor)" [matTooltip]="labels.goToInterview">
                    <fa-icon [icon]="['fas', 'file-lines']"></fa-icon>
                  </button>
                  @if (actor.statut_entretien?.libelle !== 'Réalisé' && actor.statut_entretien?.libelle !== 'En cours') {
                    <button mat-icon-button type="button" (click)="openAlert(actor)" [matTooltip]="labels.modifyStateInterview">
                      <fa-icon [icon]="['fas', 's']"></fa-icon>
                    </button>
                  }
                  
                }
              </div>
            </div>
          </mat-card>
        }
      </div>
    }
  </div>

  @if (!no_creation) {
    <button mat-raised-button type="button" (click)="recordActors()" color="warn">{{ labels.addActors }}</button>
    <button mat-raised-button type="button" (click)="navigate(previousPage, diagnostic)" color="accent">
      {{ labels.btnPreviousStepLabel }}
    </button>
  }
</div>
