
       
        <div>
            <div *ngIf="!hideFilters">
                <h4>{{titleChooseActors}}</h4>
                <div *ngFor="let ca of chosenActors">
                    <p>{{ca}}</p>
                </div>
            </div>
            <div *ngIf="!hideFilters">
                <mat-form-field appearance="fill">
                    <mat-label>{{labels.diagnosticsList}}</mat-label>
                    <mat-select [(value)]="selectedDiagnostic" (selectionChange)="applyFilters()" >
                
                        <mat-option *ngFor="let diag of uniqueDiagnostics" [value]="diag">{{ diag.nom }} du {{diag.created_at_str}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
                
                
                <mat-form-field appearance="fill">
                    <mat-label>{{labels.department}}</mat-label>
                    <mat-select [(value)]="selectedDepartment" (selectionChange)="applyFilters()">
            
                        <mat-option *ngFor="let dpt of uniqueDepartments" [value]="dpt">{{ dpt.nom_dep }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="accent-select">
                    <mat-label>{{labels.category}}</mat-label>
                    <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilters()">
                
                        <mat-option *ngFor="let cat of uniqueCategories" [value]="cat">{{ cat.libelle }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button id="btnToReinitialize" type="button" mat-raised-button (click)="resetFilters()">{{reinitialisation}}</button>
            </div>
            <div [formGroup]="formGroup">
                <ng-container *ngIf="!hideFilters else other_content">
                    <mat-selection-list formControlName="acteurs">
                        <mat-list-option *ngFor="let actor of actors" [value]="actor" (click)="addOrRemoveActor(actor, true)">
                          <div class="list-item-content">
                            <div class="space">{{ actor.nom }} {{ actor.prenom }} {{actor.structure}}</div>
                            <button mat-raised-button type="button" class="otherInfosBtn" (click)="showOtherInfos(actor); $event.stopPropagation()"><fa-icon [icon]="['fas', 'info']"></fa-icon></button>
                            <button mat-raised-button type="button" class="otherInfosBtn" (click)="navigate('/acteur/' + actor.id_acteur,diagnostic); $event.stopPropagation()"><fa-icon [icon]="['fas', 'pen']"></fa-icon></button>
                          </div>
                        </mat-list-option>
                    </mat-selection-list>
                  </ng-container>
                  <ng-template #other_content>
                    <div class="actor-cards">
                        <mat-card *ngFor="let actor of actors" class="actor-card">
                          <div class="card-content">
                      
                            <div class="actor-info">
                              <div class="actor-name">
                                <mat-card-title>{{ actor.nom }} {{ actor.prenom }}</mat-card-title>
                              </div>
                              <div class="actor-structure">
                                {{ actor.structure }}
                              </div>
                              <div class="actor-structure">
                                {{ actor.statut_entretien?.libelle }}
                                <ng-container [ngSwitch]="actor.statut_entretien?.libelle">

                                  <span *ngSwitchCase="'Réalisé'"><fa-icon class="realized" [icon]="['fas', 'check']"></fa-icon></span>
                                  <ng-template [ngSwitchCase]="'Reporté'">
                                    <ng-container *ngTemplateOutlet="postponed"></ng-container>
                                  </ng-template>
                                  <ng-template [ngSwitchCase]="'En cours'">
                                    <ng-container *ngTemplateOutlet="inprogress"></ng-container>
                                  </ng-template>
                                  <ng-template [ngSwitchCase]="'Annulé'">
                                    <ng-container *ngTemplateOutlet="cancel"></ng-container>
                                  </ng-template>
                                  <ng-template [ngSwitchCase]="'Programmé'">
                                    <ng-container *ngTemplateOutlet="planified"></ng-container>
                                  </ng-template>
                                  <span *ngSwitchDefault>A faire <fa-icon class="todo" [icon]="['fas', 'triangle-exclamation']"></fa-icon></span>
                                
                                </ng-container>
                                <ng-template #postponed><span><fa-icon class="postponed" [icon]="['fas', 'clock']"></fa-icon></span></ng-template>
                                <ng-template #inprogress><span><fa-icon class="inprogress" [icon]="['fas', 'triangle-exclamation']"></fa-icon></span></ng-template>
                                <ng-template #cancel><span><fa-icon class = "canceled" [icon]="['fas', 'circle-xmark']"></fa-icon></span></ng-template>
                                <ng-template #planified><span><fa-icon class= "planified" [icon]="['fas', 'calendar-check']"></fa-icon></span></ng-template>
                              </div>
                            </div>
                      
                            <div class="actor-actions">
                              <button mat-icon-button type="button" (click)="showOtherInfos(actor)">
                                <fa-icon [icon]="['fas', 'info']"></fa-icon>
                              </button>
                              
                              <button mat-icon-button type="button" (click)="navigateToActor('/acteur/' + actor.id_acteur,diagnostic)">
                                <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                              </button>

                              <button mat-icon-button type="button" (click)="navigate('/entretien/' + actor.id_acteur,diagnostic)">
                                <fa-icon [icon]="['fas', 'chart-pie']"></fa-icon>
                              </button>
                              <button mat-icon-button type="button" (click)="openAlert(actor)">
                                <fa-icon [icon]="['fas', 's']"></fa-icon>
                              </button>
                            </div>
                            
                          </div>
                        </mat-card>
                      </div>
                  </ng-template>
            </div>
            <div *ngIf="!hideFilters">
              <button mat-raised-button type="button" class="otherInfosBtn" (click)="navigate('/acteur/',diagnostic)" color="accent">{{labels.createActor}}</button>
            </div>
            
        </div>
       

