<mat-dialog-content>
    <p>{{data.keyword.nom}} contient ces mots-clés : </p>
    <ul *ngFor="let kw of data.keyword.mots_cles_issus">
        <li>{{kw.nom}}</li>
    </ul>
    <button mat-raised-button type="button" (click)="explodeGroup()"><fa-icon [icon]="['fas', 'arrows-up-down-left-right']"></fa-icon></button>
    <button mat-raised-button type="button" (click)="displayInput()"><fa-icon [icon]="['fas', 'pen']"></fa-icon></button>
    <div id="field" class="invisible">
        <mat-form-field appearance="fill">
            <mat-label>Mot-clé</mat-label>
            <input matInput placeholder="Entrez le nom du groupe de mots-clés" [(ngModel)]="data.keyword.nom">
        </mat-form-field>
        <button mat-raised-button color="accent" type="button" (click)="rename()">Valider</button>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="accent" type="button" (click)="close()">Fermer</button>
</mat-dialog-actions>