<h2 mat-dialog-title>Groupe «&nbsp;{{ data.keyword.nom }}&nbsp;»</h2>

<mat-dialog-content class="groupe-detail-content">
  <p class="groupe-detail-intro">Ce groupe contient les mots-clés suivants&nbsp;:</p>

  <ul class="groupe-detail-list">
    @for (kw of data.keyword.mots_cles_issus; track kw.id_mot_cle) {
      <li>{{ formatMotCleLabel(kw) }}</li>
    }
  </ul>

  <div class="groupe-detail-actions">
    <button mat-raised-button color="accent" type="button" (click)="displayInput()">
      Modifier le nom du groupe
    </button>
    <button mat-raised-button color="warn" type="button" (click)="explodeGroup()">
      Restaurer les valeurs regroupées
    </button>
  </div>

  @if (showRenameField()) {
    <div class="groupe-detail-rename">
      <mat-form-field appearance="outline" class="groupe-detail-field">
        <mat-label>Nom du groupe</mat-label>
        <input
          matInput
          placeholder="Entrez le nom du groupe de mots-clés"
          [(ngModel)]="data.keyword.nom">
      </mat-form-field>

      <button mat-raised-button color="accent" type="button" (click)="rename()">
        {{ labels.record }}
      </button>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" type="button" (click)="close()">
    {{ labels.cancel }}
  </button>
</mat-dialog-actions>
