.warn{
    color: red;
}
.warn-partial{
    color:orange;
}
mat-radio-group{
    display: block;
}

.grid-3-6-3 {
    display: grid;
    grid-template-columns: 10% 80% 10%; /* ou 3fr 6fr 3fr */
    gap: 1rem;
}