.warn{
    color: red;
}
.warn-partial{
    color:orange;
}
mat-radio-group{
    display: block;
}

.grid-3-9 {
    display: grid;
    grid-template-columns: 20% 80%; /* ou 3fr 6fr 3fr */
    gap: 1rem;
}

.one-column{
    display: grid;
    grid-template-columns: 0% 100%; /* ou 3fr 6fr 3fr */
    gap: 1rem;
}