/* You can add global styles to this file, and also import other style files */
@import "assets/css/hand-made.css";
@import "assets/css/normalize.css";
@import "assets/css/webflow.css";
@import "assets/css/rnf-site.webflow.css";
@import 'conf/custom.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h2{
    margin-top:1%;
    margin-bottom:2%;
    font-size:30px;
}

mat-card-title{
    font-size: 18px;
}

mat-card_subtitle{
    font-size:12px;
}

mat-card-title,mat-card-subtitle{
    color:#fff;
}

mat-card.white-shadow {
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.6) !important;
}
