<div class="sticky-menu">
  <div id="menu" class="invisible">
    <mat-accordion multi>
      <ng-container *ngFor="let theme of themes">
        <mat-expansion-panel *ngIf="theme.libelle !== 'AFOM'" class="themes">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ theme.libelle }}
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <div *ngFor="let q of theme.questions" class="py-2 px-3">
            <p class="m-0" style="white-space: normal; word-break: break-word;" (click)="scrollToQuestion(q.id_question)" class="question">
              {{ q.libelle }}
            </p>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</div>