<div class="sticky-menu">
  <div id="menu" class="invisible">
    <mat-accordion multi>
      @for (theme of themes; track theme) {
        @if (theme.libelle !== 'AFOM') {
          <mat-expansion-panel class="themes">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ theme.libelle }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            @for (q of theme.questions; track q) {
              <div class="py-2 px-3">
                <p class="m-0 question"
                   style="white-space: normal; word-break: break-word;"
                   (click)="scrollToQuestion(q.id_question)">
                  {{ q.libelle }}
                </p>
              </div>
            }
          </mat-expansion-panel>
        }
      }
    </mat-accordion>
  </div>
</div>